In [ ]:
use warehouse compute_wh;
use database us_real_estate;
use schema cybersyn;


-- Gross income and house prices
SELECT 'cybersyn.irs_origin_destination_migration_timeseries' AS table_name, COUNT(*) AS row_count FROM irs_origin_destination_migration_timeseries
UNION ALL
SELECT 'cybersyn.fhfa_house_price_timeseries', COUNT(*) FROM cybersyn.fhfa_house_price_timeseries
UNION ALL
SELECT 'cybersyn.fhfa_house_price_attributes', COUNT(*) FROM cybersyn.fhfa_house_price_attributes
UNION ALL
SELECT 'cybersyn.geography_relationships', COUNT(*) FROM cybersyn.geography_relationships
UNION ALL
SELECT 'cybersyn.fhfa_mortgage_performance_timeseries', COUNT(*) FROM cybersyn.fhfa_mortgage_performance_timeseries
UNION ALL
SELECT 'cybersyn.fhfa_mortgage_performance_attributes', COUNT(*) FROM cybersyn.fhfa_mortgage_performance_attributes
UNION ALL
SELECT 'cybersyn.irs_individual_income_timeseries', COUNT(*) FROM cybersyn.irs_individual_income_timeseries
UNION ALL
SELECT 'cybersyn.us_addresses', COUNT(*) FROM cybersyn.us_addresses
UNION ALL
SELECT 'cybersyn.point_of_interest_index', COUNT(*) FROM cybersyn.point_of_interest_index
UNION ALL
SELECT 'cybersyn.point_of_interest_addresses_relationships', COUNT(*) FROM cybersyn.point_of_interest_addresses_relationships
UNION ALL
SELECT 'cybersyn.home_mortgage_disclosure_attributes', COUNT(*) FROM cybersyn.home_mortgage_disclosure_attributes
UNION ALL
SELECT 'cybersyn.geography_index', COUNT(*) FROM cybersyn.geography_index
UNION ALL
SELECT 'cybersyn.geography_characteristics', COUNT(*) FROM cybersyn.geography_characteristics;

In [ ]:
USE DATABASE real_estate_db;
USE SCHEMA real_estate;

CREATE OR REPLACE VIEW irs_origin_destination_migration_timeseries AS
SELECT * FROM us_real_estate.cybersyn.irs_origin_destination_migration_timeseries;

CREATE OR REPLACE VIEW fhfa_house_price_timeseries AS
SELECT * FROM us_real_estate.cybersyn.fhfa_house_price_timeseries;

CREATE OR REPLACE VIEW fhfa_house_price_attributes AS
SELECT * FROM us_real_estate.cybersyn.fhfa_house_price_attributes;

CREATE OR REPLACE VIEW geography_relationships AS
SELECT * FROM us_real_estate.cybersyn.geography_relationships;

CREATE OR REPLACE VIEW fhfa_mortgage_performance_timeseries AS
SELECT * FROM us_real_estate.cybersyn.fhfa_mortgage_performance_timeseries;

CREATE OR REPLACE VIEW fhfa_mortgage_performance_attributes AS
SELECT * FROM us_real_estate.cybersyn.fhfa_mortgage_performance_attributes;

CREATE OR REPLACE VIEW irs_individual_income_timeseries AS
SELECT * FROM us_real_estate.cybersyn.irs_individual_income_timeseries;

CREATE OR REPLACE VIEW us_addresses AS
SELECT * FROM us_real_estate.cybersyn.us_addresses;

CREATE OR REPLACE VIEW point_of_interest_index AS
SELECT * FROM us_real_estate.cybersyn.point_of_interest_index;

CREATE OR REPLACE VIEW point_of_interest_addresses_relationships AS
SELECT * FROM us_real_estate.cybersyn.point_of_interest_addresses_relationships;

CREATE OR REPLACE VIEW home_mortgage_disclosure_attributes AS
SELECT * FROM us_real_estate.cybersyn.home_mortgage_disclosure_attributes;

CREATE OR REPLACE VIEW geography_index AS
SELECT * FROM us_real_estate.cybersyn.geography_index;

CREATE OR REPLACE VIEW geography_characteristics AS
SELECT * FROM us_real_estate.cybersyn.geography_characteristics;

In [ ]:
use warehouse compute_wh;
USE DATABASE real_estate_db;
USE SCHEMA real_estate;


-- Gross income and house prices
SELECT 'irs_origin_destination_migration_timeseries' AS table_name, COUNT(*) AS row_count FROM irs_origin_destination_migration_timeseries
UNION ALL
SELECT 'fhfa_house_price_timeseries', COUNT(*) FROM fhfa_house_price_timeseries
UNION ALL
SELECT 'fhfa_house_price_attributes', COUNT(*) FROM fhfa_house_price_attributes
UNION ALL
SELECT 'geography_relationships', COUNT(*) FROM geography_relationships
UNION ALL
SELECT 'fhfa_mortgage_performance_timeseries', COUNT(*) FROM fhfa_mortgage_performance_timeseries
UNION ALL
SELECT 'fhfa_mortgage_performance_attributes', COUNT(*) FROM fhfa_mortgage_performance_attributes
UNION ALL
SELECT 'irs_individual_income_timeseries', COUNT(*) FROM irs_individual_income_timeseries
UNION ALL
SELECT 'us_addresses', COUNT(*) FROM us_addresses
UNION ALL
SELECT 'point_of_interest_index', COUNT(*) FROM point_of_interest_index
UNION ALL
SELECT 'point_of_interest_addresses_relationships', COUNT(*) FROM point_of_interest_addresses_relationships
UNION ALL
SELECT 'home_mortgage_disclosure_attributes', COUNT(*) FROM home_mortgage_disclosure_attributes
UNION ALL
SELECT 'geography_index', COUNT(*) FROM geography_index
UNION ALL
SELECT 'geography_characteristics', COUNT(*) FROM geography_characteristics;

In [ ]:
show views;

In [ ]:
# Import python packages
import streamlit as st
import pandas as pd

# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

In [ ]:
-- Welcome to Snowflake Notebooks!
-- Try out a SQL cell to generate some data.
SELECT 'FRIDAY' as SNOWDAY, 0.2 as CHANCE_OF_SNOW
UNION ALL
SELECT 'SATURDAY',0.5
UNION ALL 
SELECT 'SUNDAY', 0.9;

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
my_df = cell2.to_pandas()

# Chart the data
st.subheader("Chance of SNOW ‚ùÑÔ∏è")
st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
st.subheader("Try it out yourself and show off your skills ü•á")